.bicicletas-lista {
  padding: 60px 0 120px;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista li span {
  padding-left: 20px;
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  background-color: var(--cor-p1);
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  transition: width 0.2s;
}

.bicicletas-lista a:hover h3::before {
  width: 24px
}

@media (max-width: 600px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }
}
