.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 16px 32px;
  color: var(--cor-p5);
  background: linear-gradient(to bottom, #ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.btn.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.btn.secundario:hover {
  background: var(--cor-9);
}
.btn:hover {
  background: linear-gradient(to bottom, #ffb60d, #e59317);
}

.btn.seta::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url('../../img/icones/seta.svg');
  transition: transform 0.2s ease;
}

.btn.seta:hover::after {
  transform: translateX(4px);
}

.btn.seta {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

.titulo-bg {
  background: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo p {
  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;;
  }
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
