.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 16px 32px;
  color: var(--cor-p5);
  background: linear-gradient(to bottom, #FFBB00, #F2A50C);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.btn:hover {
  background: linear-gradient(to bottom, #FFB60D, #E59317);
}

@media (max-width: 600px) {
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
  }
}