.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  margin: 16px 0;
  display: inline-block;
  position: relative;
}

.header-menu a::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: var(--cor-0);
  position: absolute;
  bottom: -4px;
  transition: width 0.3s ease;
}

.header-menu a:hover::before {
  width: 100%;
}
.header-menu a.active::before {
  width: 100%;
}

@media (max-width: 800px) {
  .header a {
    margin: 0 auto;
  }
  .header-menu a:hover::before {
    display: none;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
  .header-menu a.active {
    background-color: var(--cor-10);
  }
  .header-menu {
    gap: 20px;
    justify-content: center;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
  }
}